project/project
project/target
target

sizebay-algorithm-cacheBalancer/target
sizebay-algorithm-cacheExecutor/target
sizebay-algorithm-calcBalancer/target
sizebay-algorithm-calcExecutor/target
sizebay-algorithm-requestBalancer/target
sizebay-algorithm-requestExecutor/target
sizebay-algorithm-responseBalancer/target
sizebay-algorithm-responseExecutor/target
sizebay-algorithm-recommendation/target
sizebay-algorithm-deduction/target
sizebay-algorithm-signature/target
sizebay-algorithm-restapi/target
sizebay-algorithm-restapi-harness/target
sizebay-algorithm-jdbc/target
sizebay-algorithm-messages/target
sizebay-algorithm-model/target


.idea
